@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 28px;
  background-color: hsl(218, 23%, 16%);
}

.advice-container {
  display: grid;
  place-items: center;
  height: 615px;
}
.advice-container .container-wrapper {
  width: 35%;
  border: 1px solid hsl(217, 19%, 24%);
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 19px 4px 13px -5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .advice-container .container-wrapper {
    width: 90%;
  }
}
.advice-container .container-wrapper #adive {
  color: #fff;
  padding: 10px 35px;
  font-size: 22px;
}
.advice-container .container-wrapper .adive-title h5 {
  color: hsl(150, 52%, 51%);
  font-size: 14px;
}
.advice-container .container-wrapper .line {
  display: inline-block;
  background-color: hsl(217, 19%, 38%);
  width: 100%;
  height: 1px;
  margin: 14px 0px;
  position: relative;
}
.advice-container .container-wrapper .line::before {
  content: "";
  background-image: url("/images/pattern-divider-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  width: 50px;
  height: 20px;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsl(217, 19%, 24%);
}
@keyframes chitchat {
  0% {
    content: "#";
  }
  5% {
    content: ".";
  }
  10% {
    content: "^{";
  }
  15% {
    content: "-!";
  }
  20% {
    content: "#$_";
  }
  25% {
    content: "№:0";
  }
  30% {
    content: "{+.";
  }
  35% {
    content: "@}-?";
  }
  40% {
    content: "?{4@%";
  }
  45% {
    content: "=.,^!";
  }
  50% {
    content: "?2@%";
  }
  55% {
    content: ";1}]";
  }
  60% {
    content: "?{%:%";
    right: 0;
  }
  65% {
    content: "|{f[4";
    right: 0;
  }
  70% {
    content: "{4%0%";
    right: 0;
  }
  75% {
    content: "'1_0<";
    right: 0;
  }
  80% {
    content: "{0%";
    right: 0;
  }
  85% {
    content: "]>'";
    right: 0;
  }
  90% {
    content: "4";
    right: 0;
  }
  95% {
    content: "2";
    right: 0;
  }
  100% {
    content: "";
    right: 0;
  }
}
.advice-container .ui-btn {
  --btn-default-bg: hsl(150, 52%, 51%);
  --btn-padding: 7px 18px;
  --btn-hover-bg: hsl(150, 52%, 51%);
  --btn-transition: 0.3s;
  --btn-letter-spacing: 0.1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #fac921;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo, Roboto Mono, monospace;
  box-sizing: border-box;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-bottom: -30px;
}
.advice-container .ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}
.advice-container .ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}
.advice-container .ui-btn:hover {
  background: var(--btn-hover-bg);
}
.advice-container .ui-btn:hover span {
  color: var(--hover-btn-color);
}
.advice-container .ui-btn:hover span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}
.advice-container .ui-btn:focus {
  background: var(--btn-hover-bg);
}
.advice-container .ui-btn:focus span {
  color: var(--hover-btn-color);
}
.advice-container .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}/*# sourceMappingURL=style.css.map */